# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Environment variables / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Raw and processed data
data/raw/
data/processed/

# Power BI temporary files
*.tmp
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/